In [7]:
a=10
b=20
c=a+b
print(c)

30

In [1]:

print("hello python")

hello python

In [3]:
print("hello")

hello

In [6]:
counter=100
miles=1000.0
name="john"
print(counter)
print(miles)
print(name)

100
1000.0
john

In [9]:
counter=100
miles=1000.0
name="john"
print(counter,miles,name)

100 1000.0 john

In [10]:
counter=100
miles=1000.0
name="john"
print(counter,miles,name)
type(counter)

100 1000.0 john

int

In [13]:
a=10
b=20
c=a+b
d=a*b
e=a%b
f=int(b/a)
g=a**b
print(c,d,e,f,g)

30 200 10 2 100000000000000000000

In [17]:
a=['abcd',1,2.0,34]
b=[123,'john']
print(a) #prints complete list
print(a[0]) #prints first element of list
print(a[1:3]) #prints elements starting from 2nd till 3rd
print(a[1:]) #prints element starting from 2nd till end
print(b*2) #prints the list twice

['abcd', 1, 2.0, 34]
1
[1, 2.0]
[1, 2.0, 34]
[123, 'john', 123, 'john']

In [21]:
print(len([1,2,3]))
print([1,2,3]+[4,5,6])
print(["hi"]*4)
print(3 in [1,2,3])
type(a[2])

3
[1, 2, 3, 4, 5, 6]
['hi', 'hi', 'hi', 'hi']
True

float

In [44]:
a=['abcd',1,2.0,34]  //list
b=[123,'john']
c=[2,5,4,3,8,9]
d=[2,5,4,3,8,9]
a.append(1)
print(a.count(1))
a.extend(b)
print(a)
a.pop()
print(a)
print(a.index(2.0))
a.insert(6,'kiit')
print(a)
a.remove(2.0)
print(a)
a.reverse()
print(a)
a.extend('min')
c.sort() #for ascending order
d.sort(reverse=True) #for descending order
print(a)
print(c)
print(d)

2
['abcd', 1, 2.0, 34, 1, 123, 'john']
['abcd', 1, 2.0, 34, 1, 123]
2
['abcd', 1, 2.0, 34, 1, 123, 'kiit']
['abcd', 1, 34, 1, 123, 'kiit']
['kiit', 123, 1, 34, 1, 'abcd']
['kiit', 123, 1, 34, 1, 'abcd', 'm', 'i', 'n']
[2, 3, 4, 5, 8, 9]
[9, 8, 5, 4, 3, 2]

In [63]:
a = {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London',2:'devanshi'} #dictionary
print (a['Nepal'])
print(a[2])
print(a)
print(a.keys())
print(a.values())

Kathmandu
devanshi
{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 2: 'devanshi'}
dict_keys(['Nepal', 'Italy', 'England', 2])
dict_values(['Kathmandu', 'Rome', 'London', 'devanshi'])

In [68]:
a = {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London',2:'devanshi',3:{'1':'rohan','2':'raj'}} #dictionary inside dictionary
print(a[3])

{'1': 'rohan', '2': 'raj'}

In [71]:
emp={1:{'Name':'devanshi','age':20,'Phone No':937363738},2:{'Name':'Vasudev','age':21,'Phone No':93746738}}
print(emp[1])

{'Name': 'devanshi', 'age': 20, 'Phone No': 937363738}

In [72]:
tuple=('abcd',756,23.12,'john')
tup=(12,'ram')

print(tuple)
print(tuple[1])
print(tuple[1:3])
print(tuple[2:])
print(tup*2)
print(tuple+tup)

('abcd', 756, 23.12, 'john')
756
(756, 23.12)
(23.12, 'john')
(12, 'ram', 12, 'ram')
('abcd', 756, 23.12, 'john', 12, 'ram')

In [79]:
tuple=('abcd',756,23.12,'john')
tup=(123,'john')
a=list(tuple)
b=list(tup)
a.append(756)
print(a.count(756))
a.extend(b)
print(a)
print(a)
print(a.index(23.12))
a.insert(6,'kiit')
print(a)

2
['abcd', 756, 23.12, 'john', 756, 123, 'john']
['abcd', 756, 23.12, 'john', 756, 123, 'john']
2
['abcd', 756, 23.12, 'john', 756, 123, 'kiit', 'john']